:root {
  --twitter-blue: hsl(203, 89%, 53%);
  --twitter-gray: hsl(207deg, 14%, 46%);
  --white: hsl(0deg 0% 100%);
  --black: hsl(0deg 0% 0%);
  --twitter-light-gray: hsl(205deg, 25%, 91%);
  --error-red: hsl(0, 100%, 60%);
}
